<div class="Management">
    <div class="fluid-container">
        <div class="row">
            <div class="col-md-6 pt-4 pr-4">
                <div class="container">
                    <button class="according"> What Is Do I Have To Tell You A Few Lorem?
                    </button>
                    <div class="desc">
                        <p>Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida. Nulla facilisi. Nam blandit rhoncus lectus, eu euismod diam rhoncus et. In sollicitudin bibendum odio, at tristique purus elementum sit amet. Integer vulputate, justo at lacinia suscipit, erat nibh interdum augue, sit amet hendrerit neque ipsum at eros.</p>
                    </div>
                
                    <button class="according">What Is Do I Have To Tell You A Few Lorem?

                    </button>
                    <div class="desc">
                        <p>Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida. In sollicitudin bibendum odio, at tristique purus elementum sit amet. Integer vulputate, justo at lacinia suscipit, erat nibh interdum augue, sit amet hendrerit neque ipsum at eros.</p>
                    </div>
                
                    <button class="according">What Is Do I Have To Tell You A Few Lorem?

                    </button>
                    <div class="desc">
                        <p>Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida. In sollicitudin bibendum odio, at tristique purus elementum sit amet. Integer vulputate, justo at lacinia suscipit, erat nibh interdum augue, sit amet hendrerit neque ipsum at eros.</p>
                    </div>

                    <button class="according">What Is Do I Have To Tell You A Few Lorem?

                    </button>
                    <div class="desc">
                        <p>Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida. In sollicitudin bibendum odio, at tristique purus elementum sit amet. Integer vulputate, justo at lacinia suscipit, erat nibh interdum augue, sit amet hendrerit neque ipsum at eros.</p>
                    </div>
                </div>


            </div>
           
            <div class="col-md-6 pt-5">
                <h2>Our Management</h2>
                <p>Business analytics (BA) is the practice of iterative, methodical exploration of an organization's data with emphasis on statistical analysis.</p>
                <div class="login-content">
                    <form action="index.html">
                           <div class="input-div one">
                              <div class="i pt-4">
                                <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                              <div class="div">
                                      <h5>Username</h5>
                                      <input type="text" class="input">
                              </div>
                           </div>
                           <div class="input-div pass">
                              <div class="i pt-4"> 
                                <i class="fa fa-lock" aria-hidden="true"></i>
                              </div>
                              <div class="div">
                                   <h5>Password</h5>
                                   <input type="password" class="input">
                           </div>
                        </div>
                    <div class="input-div one">
                              <div class="i pt-4">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                              </div>
                              <div class="div">
                                      <h5>Email</h5>
                                      <input type="text" class="input">
                              </div>
                           </div>
                        <a href="#">Forgot Password?</a>
                        <input type="submit" class="btn" value="Signin">
                    </form>
                </div>
           
            </div>
        </div>
      
    </div>
</div>


<div class="contact">
   
    <div class="row">
        <div class="col-md-3 mb-2">
        
        <div class="widget">
            <img src="assets/images/logo-01.png" class="img-fluid">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu bibendum orci. Aliquam erat volutpat.

MORE ABOUT US</p>

        </div>


        </div>

        <div class="col-md-3 mb-2">
            <div class="widgett">
    
            <h5>Useful Links</h5>
    
            <ul class="menu list-unstyled">
                <li><a href="#">Hotel Growth</a></li>
                <li><a href="#">Hotei loren</a></li>
                <li><a href="#">Financeil plane</a></li>
                <li><a href="#">Insurance consulting</a></li>
                <li><a href="#">Retrement planing</a></li>
                <li><a href="#">Text planing</a></li>
            </ul>
    
            </div>
        </div>


        <div class="col-md-3 mb-2">
            <h5 >Subscribe Newsletter</h5>
            <form action="#">
                <p>Get latest updates and offers.</p>
                <div class="contact-ibs">
                    <input placeholder="Enter your email address" type="text">
                    <button color="primary" type="submit">
                        <span >SUBSCRIBE US</span>
                     </button>
                </div>
                </form>
             </div>
             <div class="col-md-3 mb-2">
             
             
            <div _ngcontent-gng-c17="" class="title">
                <h5 _ngcontent-gng-c17="">Contact Us</h5>
                 </div>
                 <div><div class="icon">
                     <i _ngcontent-gng-c17="" class="fa fa-map-marker"></i>
                     </div>
                     <div  class="text">
                         <p _ngcontent-gng-c17="">Apple St, New York, NY 10012, USA</p>
                     </div>
                 </div>
                 <div>
                     <div _ngcontent-gng-c17="" class="icon">
                     <i class="fa fa-phone"></i>
                     </div>
                     <div  class="text">
                         <p _ngcontent-gng-c17="">( 018) 65 524 8503 / (125) 954 7854</p>
                     </div>
                 </div>
                 <div >
                     <div class="icon">
                         <i  class="fa fa-envelope"></i>
                     </div>
                     <div class="text">
                         <p >
                             <a  href="#">contact@lamarena.com</a>
                         </p>
                     </div>
                 </div>
                 <ul class="social">
                    <li ><a  href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a  href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
             </div>
             


        </div>
    </div>

