<div class="product p-4">
<div class="container">
    <div class="row">
<div class="col-md-2 ">
  
        <button class="according">Categcal</button>
        <div class="desc">
            <span>Labtob</span>
            <br>
            <span>show all</span>
            <br>
            <span>Watch</span>
            <br>
            <span>Smart</span>
        </div>
    
        <button class="according">Brands</button>
        <div class="desc">
            <span>Labtob</span>
            <br>
            <span>show all</span>
            <br>
            <span>Watch</span>
            <br>
            <span>Smart</span>
        </div>
    
        <button class="according">price</button>
        <div class="desc">
            <span>Labtob</span>
            <br>
            <span>show all</span>
            <br>
            <span>Watch</span>
            <br>
            <span>Smart</span>
        


</div>

    </div>
 
<div class="col-md-2">
    <div class="card mb-2">


        <img src="assets/images/laptop (5).png" class="img-fluid">

<div class="media-bodyy">
                    <a  href="#">
                        <span>Labtob1 E Headset</span>
                    </a>
                    <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                        
                    
                    <p class="price">200.00</p>
  <div class="startt">
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                </div>
                </div>
  
</div>
</div>

<div class="col-md-2">
    <div class="card mb-2">


        <img src="assets/images/laptop (6).png" class="img-fluid">

<div class="media-bodyy">
 
                    <a  href="#">
                        <span>Labtob2 Headset</span>
                    </a>
                   
                    <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                    
                    <p class="price">300.00</p>
  <div class="startt">
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                </div>
                </div>
  
</div>
</div>

<div class="col-md-2">
    <div class="card mb-2">


        <img src="assets/images/laptop (4).png" class="img-fluid">

<div class="media-bodyy">
                    <a  href="#">
                        <span>Labtob3 Headset</span>
                    </a>
                   
                        
                    <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                    
                    <p class="price">410.00</p>
  <div class="startt">
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                </div>
        </div>
</div>
</div>

<div class="col-md-2">
    <div class="card mb-2">

        <img src="assets/images/laptop (3).png" class="img-fluid">
       

<div class="media-bodyy">
                    <a  href="#">
                        <span>Labtob4 Headset</span>
                    </a>
                   
                        
                    <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                        
                    
                    <p class="price">500.00</p>
  <div class="startt">
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                </div>
                </div>
  
</div>
</div>
    
<div class="col-md-2">
    <div class="card mb-2">


        <img src="assets/images/laptop (2).png" class="img-fluid">

<div class="media-bodyy">
                    <a  href="#">
                        <span>ONTEC E Headset</span>
                    </a>
                   
                        
                    <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                    
                    <p class="price">525.00</p>
  <div class="startt">
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                </div>
             </div>
  
</div>
</div>
</div>

<div class="row">
           
    <div class="col-md-2">
       <div class="card mb-2">
 
      <img src="assets/images/headphone1 (1).png" class="img-fluid">
 <div class="media-bodyy">
                       <a  href="#">
                           <span>ONTEC E Headset</span>
                       </a>
                       
                       <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                           
                       
                       <p class="price">700.00</p>
     <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                   </div>
           </div>
 </div>
</div>
        
     <div class="col-md-2">
       <div class="card mb-2">
 

           <img src="assets/images/headphone1 (2).png" class="img-fluid">
   
 <div class="media-bodyy">
                       <a  href="#">
                           <span>ONTEC E Headset</span>
                       </a>
                      
                           
                       <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                           
                       
                       <p class="price">500.00</p>
     <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                   </div>
                   </div>
     
 </div>
</div> 
       
       <div class="col-md-2">
       <div class="card mb-2">
 
           <img src="assets/images/headphone1 (3).png" class="img-fluid">
     
   
 <div class="media-bodyy">
    
                       <a  href="#">
                           <span>ONTEC E Headset</span>
                       </a>
                      
                         
                       <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                           
                       
                       <p class="price">300.00</p>
     <div class="startt">
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                   </div>
                   </div>
     
 </div>
</div>
     
       <div class="col-md-2">
       <div class="card mb-2">
 

           <img src="assets/images/headphone1 (4).png" class="img-fluid">
   
 <div class="media-bodyy">
                       <a  href="#">
                           <span>ONTEC E Headset</span>
                       </a>
                      
                           
                       <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                           
                       
                       <p class="price">175.00</p>
     <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                   </div>
                   </div>
     
 </div>
</div>
<div class="col-md-2">
       <div class="card mb-2">
 

           <img src="assets/images/laptop (2).png" class="img-fluid">
   
 <div class="media-bodyy">
                       <a  href="#">
                           <span>ONTEC E Headset</span>
                       </a>
                      
                           
                       <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                           
                       
                       <p class="price">175.00</p>
     <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                   </div>
                   </div>
     
 </div>
</div>
       <div class="col-md-2">
       <div class="card mb-2">
 
           <img src="assets/images/laptop (3).png" class="img-fluid">
          
   
 <div class="media-bodyy">
                       <a  href="#">
                           <span>ONTEC E Headset</span>
                       </a>
                      
                           
                       <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                           
                       
                       <p class="price">175.00</p>
     <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                   </div>
                   </div>
     
 </div>
</div>
       
    
</div>

<div class="row">
           
    <div class="col-md-2">
        <div class="card mb-2">
    
    
            <img src="assets/images/laptop (5).png" class="img-fluid">
    
    <div class="media-bodyy">
                        <a  href="#">
                            <span>ONTEC E Headset</span>
                        </a>
                       
                            
                        <div class="start">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                            
                        
                        <p class="price">175.00</p>
      <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </div>
                    </div>
      
    </div>
    </div>
    
    <div class="col-md-2">
        <div class="card mb-2">
    
    
            <img src="assets/images/laptop (6).png" class="img-fluid">
    
    <div class="media-bodyy">
     
                        <a  href="#">
                            <span>ONTEC E Headset</span>
                        </a>
                       
                          
                        
                        <div class="start">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                            
                        
                        <p class="price">300.00</p>
      <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </div>
                    </div>
      
    </div>
    </div>
    
    <div class="col-md-2">
        <div class="card mb-2">
    
    
            <img src="assets/images/laptop (4).png" class="img-fluid">
    
    <div class="media-bodyy">
                        <a  href="#">
                            <span>ONTEC E Headset</span>
                        </a>
                       
                            
                        <div class="start">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                            
                            
                        
                        <p class="price">175.00</p>
      <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </div>
            </div>
    </div>
    </div>
    
    <div class="col-md-2">
        <div class="card mb-2">
    
            <img src="assets/images/laptop (3).png" class="img-fluid">
           
    
    <div class="media-bodyy">
                        <a  href="#">
                            <span>ONTEC E Headset</span>
                        </a>
                       
                            
                        <div class="start">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                            
                            
                        
                        <p class="price">175.00</p>
      <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </div>
                    </div>
      
    </div>
    </div>
        
    <div class="col-md-2">
        <div class="card mb-2">
    
    
            <img src="assets/images/laptop (2).png" class="img-fluid">
    
    <div class="media-bodyy">
                        <a  href="#">
                            <span>ONTEC E Headset</span>
                        </a>
                       
                        <div class="start">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                            
                            
                        
                        <p class="price">175.00</p>
      <div class="startt">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </div>
                    </div>
      
    </div>
    </div>
     
       <div class="col-md-2">
       <div class="card mb-2">
 

           <img src="assets/images/headphone1 (4).png" class="img-fluid">
   
 <div class="media-bodyy">
                       <a  href="#">
                           <span>ONTEC E Headset</span>
                       </a>
                      
                           
                       <div class="start">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                        
                           
                       
                       <p class="price">175.00</p>
     <div class="startt">
     
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                   </div>
                   </div>
     
 </div>
</div>

       
    
</div>

</div>
</div>


<div class="contact">
   
    <div class="row">
        <div class="col-md-3 mb-2">
        
        <div class="widget">
            <img src="assets/images/logo-01.png" class="img-fluid">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu bibendum orci. Aliquam erat volutpat.

MORE ABOUT US</p>

        </div>


        </div>

        <div class="col-md-3 mb-2">
            <div class="widgett">
    
            <h5>Useful Links</h5>
    
            <ul class="menu list-unstyled">
                <li><a href="#">Hotel Growth</a></li>
                <li><a href="#">Hotei loren</a></li>
                <li><a href="#">Financeil plane</a></li>
                <li><a href="#">Insurance consulting</a></li>
                <li><a href="#">Retrement planing</a></li>
                <li><a href="#">Text planing</a></li>
            </ul>
    
            </div>
        </div>


        <div class="col-md-3 mb-2">
            <h5 >Subscribe Newsletter</h5>
            <form action="#">
                <p>Get latest updates and offers.</p>
                <div class="contact-ibs">
                    <input placeholder="Enter your email address" type="text">
                    <button color="primary" type="submit">
                        <span >SUBSCRIBE US</span>
                     </button>
                </div>
                </form>
             </div>
             <div class="col-md-3 mb-2">
             
             
            <div _ngcontent-gng-c17="" class="title">
                <h5 _ngcontent-gng-c17="">Contact Us</h5>
                 </div>
                 <div><div class="icon">
                     <i _ngcontent-gng-c17="" class="fa fa-map-marker"></i>
                     </div>
                     <div  class="text">
                         <p _ngcontent-gng-c17="">Apple St, New York, NY 10012, USA</p>
                     </div>
                 </div>
                 <div>
                     <div _ngcontent-gng-c17="" class="icon">
                     <i class="fa fa-phone"></i>
                     </div>
                     <div  class="text">
                         <p _ngcontent-gng-c17="">( 018) 65 524 8503 / (125) 954 7854</p>
                     </div>
                 </div>
                 <div >
                     <div class="icon">
                         <i  class="fa fa-envelope"></i>
                     </div>
                     <div class="text">
                         <p >
                             <a  href="#">contact@lamarena.com</a>
                         </p>
                     </div>
                 </div>
                 <ul class="social">
                    <li ><a  href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a  href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
             </div>
             


        </div>
    </div>