
<div class="blog p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/b1.jpg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <h4>Our Outstanding Services</h4>
                <p>Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In Vestibulum ante ipsum primis in industry, logistics, finance, business orci ultrices venenatis mauris. It is a long established fact that a reader will be distracted.</p>
            </div>

            <div class="col-md-4">
                <h5>LATEST NEWS</h5>
                <div class="row mb-1">

                    <div class="col-md-6">
<img src="assets/images/b1 (1).jpg" class="img-fluid">
                    </div>

                    <div class="col-md-6">
<p style="font-style:oblique;">How To Reduce Financial Stress</p>
<span>02 Dec.</span>
                    </div>
                </div>
                <div class="row mb-1">

                    <div class="col-md-6">
<img src="assets/images/b1 (1).jpg" class="img-fluid">
                    </div>

                    <div class="col-md-6">
<p style="font-style:oblique;">How To Reduce Financial Stress</p>
<span>02 Dec.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <img src="assets/images/b1.jpg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <h4>Our Outstanding Services</h4>
                <p>Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In Vestibulum ante ipsum primis in industry, logistics, finance, business orci ultrices venenatis mauris. It is a long established fact that a reader will be distracted.</p>
            </div>

            <div class="col-md-4">
                <h5>LATEST NEWS</h5>
                <div class="row mb-1">

                    <div class="col-md-6">
<img src="assets/images/b1 (1).jpg" class="img-fluid">
                    </div>

                    <div class="col-md-6">
<p style="font-style:oblique;">How To Reduce Financial Stress</p>
<span>02 Dec.</span>
                    </div>
                </div>
                <div class="row mb-1">

                    <div class="col-md-6">
<img src="assets/images/b1 (1).jpg" class="img-fluid">
                    </div>

                    <div class="col-md-6">
<p style="font-style:oblique;">How To Reduce Financial Stress</p>
<span>02 Dec.</span>
                    </div>
                </div>
            </div>
        </div>



        <div class="row mt-5">
            <div class="col-md-4">
                <img src="assets/images/b1.jpg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <h4>Our Outstanding Services</h4>
                <p>Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In Vestibulum ante ipsum primis in industry, logistics, finance, business orci ultrices venenatis mauris. It is a long established fact that a reader will be distracted.</p>
            </div>

            <div class="col-md-4">
                <h5>LATEST NEWS</h5>
                <div class="row mb-1">

                    <div class="col-md-6">
<img src="assets/images/b1 (1).jpg" class="img-fluid">
                    </div>

                    <div class="col-md-6">
<p style="font-style:oblique;">What Makes A Financial Website Successful?</p>
<span>02 Dec.</span>
                    </div>
                </div>
                <div class="row mb-1">

                    <div class="col-md-6">
<img src="assets/images/b1 (1).jpg" class="img-fluid">
                    </div>

                    <div class="col-md-6">
<p style="font-style:oblique;">How To Reduce Financial Stress</p>
<span>02 Dec.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contact">
   
    <div class="row">
        <div class="col-md-3 mb-2">
        
        <div class="widget">
            <img src="assets/images/logo-01.png" class="img-fluid">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu bibendum orci. Aliquam erat volutpat.

MORE ABOUT US</p>

        </div>


        </div>

        <div class="col-md-3 mb-2">
            <div class="widgett">
    
            <h5>Useful Links</h5>
    
            <ul class="menu list-unstyled">
                <li><a href="#">Hotel Growth</a></li>
                <li><a href="#">Hotei loren</a></li>
                <li><a href="#">Financeil plane</a></li>
                <li><a href="#">Insurance consulting</a></li>
                <li><a href="#">Retrement planing</a></li>
                <li><a href="#">Text planing</a></li>
            </ul>
    
            </div>
        </div>


        <div class="col-md-3 mb-2">
            <h5 >Subscribe Newsletter</h5>
            <form action="#">
                <p>Get latest updates and offers.</p>
                <div class="contact-ibs">
                    <input placeholder="Enter your email address" type="text">
                    <button color="primary" type="submit">
                        <span >SUBSCRIBE US</span>
                     </button>
                </div>
                </form>
             </div>
             <div class="col-md-3 mb-2">
             
             
            <div _ngcontent-gng-c17="" class="title">
                <h5 _ngcontent-gng-c17="">Contact Us</h5>
                 </div>
                 <div><div class="icon">
                     <i _ngcontent-gng-c17="" class="fa fa-map-marker"></i>
                     </div>
                     <div  class="text">
                         <p _ngcontent-gng-c17="">Apple St, New York, NY 10012, USA</p>
                     </div>
                 </div>
                 <div>
                     <div _ngcontent-gng-c17="" class="icon">
                     <i class="fa fa-phone"></i>
                     </div>
                     <div  class="text">
                         <p _ngcontent-gng-c17="">( 018) 65 524 8503 / (125) 954 7854</p>
                     </div>
                 </div>
                 <div >
                     <div class="icon">
                         <i  class="fa fa-envelope"></i>
                     </div>
                     <div class="text">
                         <p >
                             <a  href="#">contact@lamarena.com</a>
                         </p>
                     </div>
                 </div>
                 <ul class="social">
                    <li ><a  href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a  href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
             </div>
             


        </div>
    </div>